.coffes_titulo {
  background-image: url(../assets/fondo3.png);
  background-size: cover;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (min-width: 700px) {
  .coffes_titulo {
    height: 55rem;
  }
}

.coffes_titulo h1 {
  margin: 0%;
  color: white;
  position: absolute;
}

.coffes_disp {
  max-width: 110rem;
  margin: 0 auto;
}

.coffes_disp h2 {
  background-image: url(../assets/fondo.jpg);
}

.coffees {
  background-color: var(--blanco);
  padding: 0 2rem;
  display: grid;
  margin: 4rem auto;

  text-align: center;
}
@media (min-width: 480px) {
  .coffees {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media (min-width: 770px) {
  .coffees {
    grid-template-columns: repeat(4, 1fr);
  }
}
.coffee img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.coffee_grid{
  display: grid;
  
}

.coffee_grid2 thead{
  background-color: var(--cafeoscuro);
}

@media (min-width: 480px) {
  
  .coffee_grid{
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    gap: 2rem;
  }
  .coffee_grid2{
    margin: auto 2rem;
    
  }
  .coffee_grid1{
  grid-column: 1 / 2;
  margin-left: 2rem;
}
}





